.loginForm {
    width: 500px;
    margin: 0 auto;
}

.loginForm Form {
    gap: 10px; 
}
  
.loginForm Button {
    margin-top: 10px; 
}

.Toastify {
    width: 300px;    
    margin: 0 auto;
}
.Toastify__toast {
    min-height: 50px;
  }
  